/*common css*/
body{
	margin: 0;
	padding:0;
	font-family: sans-serif;	
}
/*common css end*/
/*headerstart*/
header{
	background-color: #121B2A;

}
.wrapper{
	/*border: 1px solid yellow;*/
	width: 85%;
	margin: 0 auto;
	overflow: hidden;

}
.logo{
width: 20%;
    float: left;
    /*border: 1px solid red;*/
    padding-top: 10px;
}
.logo img{
width: 100%;
}
.menu{
	width: 70%;
      float: right;
    /*border: 1px solid yellow;*/
}
.menu ul{
	list-style: none;
	float: right;
}
.client{
	margin-top: 0;
}
.client li {
	float: left;
	text-decoration: none;

}
.employee li{
float: left;


}
.employee li a{

	text-decoration: none;
    padding: 0 20px;
    color: white;
    display: inline-block;
}
.employee li:last-child a{
	padding-right: 0;
}
.employee li:first-child a{
	color:blue;
}

/*header end*/
